/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


body {

  /* background-color: oklch(86.298% 0.0055 198.04); */
  /*déclaration de font-family moderne native système*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/*header - main*/

.header {
  background-color: #000000;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 3em; /* Ajuste selon ton design */
}

h1 {
  color: white;
  font-size: 5em;
  font-family: lobster, sans-serif;
  font-style: normal;
  text-decoration: underline;
  text-align: center;
}

/*NAV*/
.nav-navigation {
  padding-top: 2em;
  padding-bottom: 2em;

  background-color: #4a4444; /* Ta couleur de fond */
}

.nav-navigation>li>a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.nav-navigation>li>a:hover {
  color: #cfb8b8;
  text-decoration: underline;
}
/*nav et main*/


/*main*/
h2, h3, h4, h5, h6 {
  font-family: Lobster, sans-serif;
  font-style: normal;
  text-decoration: underline;
}

p {
  
  font-family: Lobster, sans-serif;
  font-style: normal;
}

li, figcaption {
  font-family: lobster, sans-serif;
  font-style: normal;
}

/*class main*/

.section-index, .section-oiseaux, .section-oiseaux__article-oiseaux-europe {
  padding-top: 1em;
}



.ma-classe {
  font-weight: 700;
  
}

.ma-classe:hover {
  color: #ff0000;
  text-decoration: underline;
}








